.ticfirst {
	position: relative;
	left: 35%;
	margin-top: 25%;
}
.ticsecond {
	position: relative;
	left: 35%;
	padding-top: 110px;

}
.tacfirst {
	position: relative;
	left: 44.7%;
	margin-top: -19%;
	color: red;
}
.tacsecond {
	position: relative;
	left: 55%;
	margin-top: -30%;

}
h3{	
	position: relative;
	top:180px;

}
h3:hover{
	color: red;
}
